<!DOCTYPE html>
<html lang=pt-br>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1"><!--[if IE]><link rel="icon" href="/commerce.ico"><![endif]-->
    <link href=https://unpkg.com/aos@2.3.1/dist/aos.css rel=stylesheet>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css>
    <a href=https://wa.me/5561982573269 style="position:fixed;width:60px;height:60px;bottom:40px;right:5.5em;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
      z-index:1000;" target=_blank><i style=margin-top:16px class="fa fa-whatsapp"></i> </a>
    <a href=https://wa.me/5561991351956 style="position:fixed;width:60px;height:60px;bottom:40px;right:3em;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
      z-index:1000;" target=_blank><i style=margin-top:16px class="fa fa-whatsapp"></i></a>
    <title>PDVende - Sistema de Controle Empresarial</title>
    <script src=https://unpkg.com/aos@2.3.1/dist/aos.js></script>
    <link href=/css/about.bf285868.css rel=prefetch>
    <link href=/css/about~demo.c045b976.css rel=prefetch>
    <link href=/css/demo.c7b0243f.css rel=prefetch>
    <link href=/js/about.fade3f00.js rel=prefetch>
    <link href=/js/about~demo.d36055c2.js rel=prefetch>
    <link href=/js/demo.e6556c09.js rel=prefetch>
    <link href=/css/app.d7ad666b.css rel=preload as= style>
    <link href=/css/chunk-vendors.ad2e6852.css rel=preload as= style>
    <link href=/js/app.861d3232.js rel=preload as=script>
    <link href=/js/chunk-vendors.01767d77.js rel=preload as=script>
    <link href=/css/chunk-vendors.ad2e6852.css rel=stylesheet>
    <link href=/css/app.d7ad666b.css rel=stylesheet>
    <link rel=icon type=image/png sizes=32x32 href=/img/icons/favicon-32x32.png>
    <link rel=icon type=image/png sizes=16x16 href=/img/icons/favicon-16x16.png>
    <link rel=manifest href=/manifest.json>
    <meta name=theme-color content=#172b4d>
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=#172b4d>
    <meta name=apple-mobile-web-app-title content="Vue Argon Dashboard">
    <link rel=apple-touch-icon href=/img/icons/apple-touch-icon-152x152.png>
    <link rel=mask-icon href=/img/icons/safari-pinned-tab.svg color=#172b4d>
    <meta name=msapplication-TileImage content=/img/icons/msapplication-icon-144x144.png>
    <meta name=msapplication-TileColor content=#172b4d>
</head>
<body>
    <noscript><strong>We're sorry but pdvende doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div>
    <script src=/js/chunk-vendors.01767d77.js></script>
    <script src=/js/app.861d3232.js></script>
</body>
</html>